/* ====================================================
   TAB CONTENT
   ==================================================== */
.tab-content {
    display: none;
    flex: 1;
    min-height: 0;
    flex-direction: column;
}

.tab-content.active-tab {
    display: flex;
}

#tab-dashboard {
    gap: 0;
}

